<h2>Edit Figure!</h2>

<form action="/figures/<%=@figure.slug%>/edit" method="post">

  Name: <input type="text" name="figure_name" id="figure[name]"><br><br>

  Title(s): <input type="text" name="new_title" id="title[name]"><br>
  Or choose from existing titles:<br>
    <% Title.all.each do |i| %>
      <input type="checkbox" name="figure[title_ids][]" id="title_<%= i.id %>" value="<%=i.id%>"><%=i.name%></input><br>
    <% end %><br>

  Landmark(s): <input type="text" name="new_landmark" id="landmark[name]"><br>
  Or choose from existing landmarks:<br>
    <% Landmark.all.each do |ii| %>
      <input type="checkbox" name="figure[landmark_ids][]" id="landmark_<%= ii.id %>" value="<%=ii.id%>"><%=ii.name%></input><br>
    <% end %><br>

  <input type="submit" value="Create New Figure">
<br>

</form>
