<h2>List of Figures</h2>

  <%@figures.each do |i|%>
    Name: <a href="/figures/<%=i.id%>"><%=i.name%></a><br>

    <%unless !i.titles.nil?%>
      Related titles:
        <%i.titles.each do |iii|%>
        <li>
          <%=iii.name%></a>
        <%end%>
        </li><br>
    <%end%><br>

    <%unless !i.landmarks.nil?%>
      Related landmarks:
        <%i.landmarks.each do |ii|%>
        <li>
          <a href="/landmarks/<%=ii.id%>"><%=ii.name%></a>
        <%end%>
        </li><br>
    <%end%>

  <%end%><br>
